<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  
   <title>
         {% block title %} 
         My first project in Django    
         {% endblock %}
   </title>
  </head>
  <body>
    <header>
          <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
              <a href="/polls" class="navbar-brand d-flex align-items-center">
               <img id="img_size_logo" src="/static/polls/images/dj.png"></img>
              <strong>Django </strong>
              </a>
            {% if user.is_authenticated %}
                      <li class="navbar-brand d-flex align-items-center">User: {{ user.get_username }}</li>
                      <li><a id="button_log" href="{% url 'logout'%}?next=" class="btn btn-danger">Logout</a></li>   
            {% else %}
                      <li><a id="button_log" href="{% url 'login'%}?next=/polls"  class="btn btn-success">Login</a></li>   
            {% endif %} 
            </div>
          </div>
    </header>

               <section id="section_base" class="jumbotron text-center">
             {% if messages %}
 
        <ul class="messages">
            {% for message in messages %}
               <ul class="p-3 mb-2 bg-danger text-white" {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </ul>
            {% endfor %}
            </ul>
        {% endif %}    
            
            {% block content_page %}
            {% endblock %}
            </section>
   
      <div  id="div_footer">
          <footer class="text-muted" >
            <div class="container">
            <p>Polls example is © Django Tutorial, for beginner!</p>
            </div>
            </footer>
          
      </div>     
               
   </body>


    
