{% extends "polls/base_page.html" %}
            {% block title %}  
            {{question.question_text}} 
            {% endblock %}

{% block content_page %}

     {% block text %}  
     <h1>Vote for your favorite </h1>       
     {% endblock %}
     
        <h3>{{ question.question_text }}</h3>
     {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
     {% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        
        {% for choice in question.choice_set.all %}
            <ul >
                <input class="btn btn-secondary" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
             </ul>
        {% endfor %}
   
        <input type="submit" value="Vote" id="btn_generic" class="btn btn-secondary" >
</form>  
            
{% endblock %}



