
{% extends "polls/base_page.html" %}

{% block title %}  
    My first project in Django 
{% endblock %}

{% block content_page %}
                        <div class="container">
                            <h1 class="jumbotron-heading">
                                Example of Django Framework
                            </h1>
                            <img id="i_padding" src="/static/polls/images/dj.png"></img>
                        </div>
                             <p id="p_padding" class="lead text-muted" >
                                 New to Django? Or to Web development in general? Well, you came to the right place: read this material to quickly get up and running
                          </p>
                                        <div id="div_questions_view"  class="container">                            
                                            <ul class="list-group" id="i_padding">
                                                {% if latest_question_list %}
                                                    {% for question in latest_question_list %}
                                                         <li class="list-group-item">
                                                            <a href="/polls/{{ question.id }}/">{{ question.question_text }}</a>
                                                        </li>
                                                    {% endfor %}
                                                {% else %}
                                                <p>No polls are available.</p>
                                                {% endif %}
                                                
                                           </ul>
                                        </div>
                                        
            {% if perms.polls.add_question %}                                    
                        <div id="div_buttons_create">
                        <a id="btn_generic" class="btn btn-secondary" href="create_question">Add Question</a>
                {% endif %} 
                {% if perms.polls.add_choice %}
                        <a id="btn_generic" class="btn btn-secondary" href="create_choice" >Add Choice</a>
                        <div>
                 {% endif %}
                 

{% endblock %}






    