
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My first project in Django</title>
  
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  
  </head>
  <body>
<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
                     </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
               <img src="/static/polls/images/dj.png" style="height:40px;width:40px" ></img>
            <strong>Django </strong>
          </a>
        
        </div>
      </div>
    </header>  

            
<main role="main">

      <section class="jumbotron text-center" style=" height:700px">
        <div class="container">
          <h1 class="jumbotron-heading">Example of Django Framework</h1>
          <br>
          <img src="/static/polls/images/dj.png" style="align:MIDDLE;" ></img>
          <br>
          <br>
          <br>
          <p class="lead text-muted">New to Django? Or to Web development in general? Well, you came to the right place: read this material to quickly get up and running</p>
      
        </div>
        <br>
     
<center>
<table>
    <tr>
        <td>
            
            <div class="container">
         {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
    
        </div>
        </td>
    </tr>
</table>
</center>
      </section>
    </main>
    
<footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Polls example is © Django Tutorial, for beginner!</p>
        
      </div>
    </footer>

  </body>
</html>





    